@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #e5e7eb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css */
.parallax {
  /* The image used */
  background-image: url("https://utfs.io/f/1fee7778-5bd8-421a-b1b1-493c05adfe3b-mhk8zl.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url("https://utfs.io/f/68fd04ce-01e0-4857-9c64-c8d8d20f37b2-o4lmre.jpg");
  min-height: 200px; /* Set height to be more like a banner */
  background-size: contain; /* Ensure the image is contained within the banner */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
}

.pattern-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .parallax,
  .parallax-1 {
    background-attachment: scroll;
  }
}
